/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #234C6A;
  --ifm-color-primary-dark: #1B3C53;
  --ifm-color-primary-darker: #0F2A3D;
  --ifm-color-primary-darkest: #0A1D2B;
  --ifm-color-primary-light: #456882;
  --ifm-color-primary-lighter: #6587A0;
  --ifm-color-primary-lightest: #85A6BE;
  --ifm-color-gray-100: #E3E3E3;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #456882;
  --ifm-color-primary-dark: #234C6A;
  --ifm-color-primary-darker: #1B3C53;
  --ifm-color-primary-darkest: #0F2A3D;
  --ifm-color-primary-light: #6587A0;
  --ifm-color-primary-lighter: #85A6BE;
  --ifm-color-primary-lightest: #A5C5DC;
  --ifm-color-gray-100: #2A2A2A;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
